{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto - TuFinca{% endblock %}

{% block content %}

<h1 class="text-center mb-4">Contacto</h1>

    <!-- Sección de información de contacto -->
    <div class="row mb-5">
        <div class="col-md-6">
            <h2>Información de Contacto</h2>
            <p class="lead">¡Estamos aquí para ayudarte! Contáctanos para más información.</p>
            <ul class="list-unstyled">
                <li><strong>Dirección:</strong> Calle 17, Fusagasugá, Colombia</li>
                <li><strong>Teléfono:</strong> +57 3142828269</li>
                <li><strong>Email:</strong> info@tufinca.com</li>
                <li><strong>Horario de atención:</strong> Lunes a Viernes, 8:00 AM - 6:00 PM</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Mapa de ubicación -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3760.6233425198307!2d-74.36695808143902!3d4.335519296617106!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1742487276269!5m2!1ses-419!2sco" 
                width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <!-- Formulario de contacto -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center mb-4">Envíanos un Mensaje</h2>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-custom">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
