{% extends 'base.html' %}
{% load static custom_tags %}

{% block title %}Inicio - TuFinca{% endblock %}

{% block content %}
    <div class="mb-5">
        <input type="text" name="buscar" id="input-busqueda" class="form-control form-control-lg w-50 mx-auto"
            placeholder="Buscar finca por nombre..." 
            hx-get="{% url 'buscar_fincas_parciales' %}" 
            hx-trigger="keyup changed delay:300ms" 
            hx-target="#resultado-fincas" 
            hx-swap="innerHTML">
        </div>

        <div id="resultado-fincas" ></div>

    <h2 class="mb-4 text-center">Galería de Fincas</h2>
    <div class="gallery-container">
        <button class="prev-btn">&#10094;</button> <!-- Botón Izquierdo -->
        <div class="gallery-wrapper">
            <div class="gallery">
                <!-- Tarjeta 1 -->
                <div class="card">
                    <img src="{% static 'images/1.jpg' %}" alt="Finca 1">
                    <h5>Finca Bella Vista</h5>
                    <p>Una hermosa propiedad rodeada de montañas y aire puro.</p>
                    <a href="{% url 'mas_detalles' finca_id=4 %}" class="btn btn-custom">Más detalles</a>
                </div>
                <!-- Tarjeta 2 -->
                <div class="card">
                    <img src="{% static 'images/2.jpg' %}" alt="Finca 2">
                    <h5>Finca El Edén</h5>
                    <p>Descubre la tranquilidad en esta finca rodeada de hermosos jardines.</p>
                    <a href="{% url 'mas_detalles' finca_id=2 %}" class="btn btn-custom">Más detalles</a>
                </div>
                <!-- Tarjeta 3 -->
                <div class="card">
                    <img src="{% static 'images/3.jpg' %}" alt="Finca 3">
                    <h5>Finca La Bonita</h5>
                    <p>Disfruta del amanecer y la paz en un lugar inolvidable.</p>
                    <a href="{% url 'mas_detalles' finca_id=3 %}" class="btn btn-custom">Más detalles</a>
                </div>
                <!-- Tarjeta 4 -->
                <div class="card">
                    <img src="{% static 'images/4.jpg' %}" alt="Finca 4">
                    <h5>Finca Bosque Real</h5>
                    <p>Conéctate con la naturaleza en esta finca única.</p>
                    <a href="{% url 'mas_detalles' finca_id=5 %}" class="btn btn-custom">Más detalles</a>
                </div>
                <!-- Tarjeta 5 -->
                <div class="card">
                    <img src="{% static 'images/5.jpg' %}" alt="Finca 5">
                    <h5>Finca Los Pinos</h5>
                    <p>Relájate en un lugar lleno de historia y confort.</p>
                    <a href="{% url 'mas_detalles' finca_id=6 %}" class="btn btn-custom">Más detalles</a>
                </div>
                <!-- Tarjeta 6 -->
                <div class="card">
                    <img src="{% static 'images/6.jpg' %}" alt="Finca 6">
                    <h5>Finca La Esperanza</h5>
                    <p>Un paraíso para los amantes del café.</p>
                    <a href="{% url 'mas_detalles' finca_id=7 %}" class="btn btn-custom">Más detalles</a>
                </div>
            </div>
        </div>
        <button class="next-btn">&#10095;</button> <!-- Botón Derecho -->
    </div>
<!-- Sección de experiencias -->
    <h2 class="mb-4 text-center">Lo que Dicen Nuestros Visitantes</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="experience-card">
                <img src="{% static 'images/7.jpg' %}" alt="Finca 10" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">
                <h5 class="text-center">Carlos y Ana en Finca El Paraíso</h5>
                <p class="text-center">"Relajarnos en este oasis de tranquilidad rodeado de naturaleza fue una experiencia única."</p>
                <p class="text-center"><i>- Carlos & Ana</i></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="experience-card">
                <img src="{% static 'images/8.jpg' %}" alt="Finca 11" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">
                <h5 class="text-center">Laura y Javier en Finca San Juan</h5>
                <p class="text-center">"Nos reconectamos con la naturaleza y disfrutamos del paisaje como nunca antes."</p>
                <p class="text-center"><i>- Laura & Javier</i></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="experience-card">
                <img src="{% static 'images/9.jpg' %}" alt="Finca 12" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">
                <h5 class="text-center">Marco en Finca Los Alamos</h5>
                <p class="text-center">"Aprendí sobre ecoturismo y disfruté de la paz de este lugar."</p>
                <p class="text-center"><i>- Marco</i></p>
            </div>
        </div>
    </div>


<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}
